import { BaseAPI } from '../../runtime';
{{#relatedModels}}
import { {{.}} } from '../../models/{{.}}';
{{/relatedModels}}

export class {{name}} extends BaseAPI {
 {{#methods}}
   async {{name}} ({{#parameters}}{{text}}{{^last}}, {{/last}}{{/parameters}}): Promise<{{response}}> {
       const response = await this.request({
           path: `{{{url}}}`,
           method: '{{method}}',
           {{#hasQueryParam}}query: this.stringifyQuery(query),{{/hasQueryParam}}
           {{#hasBodyParam}}body: dto,{{/hasBodyParam}}
           {{#hasBasicAuth}}basicAuth,{{/hasBasicAuth}}
        });
       return (response.json() as unknown) as {{response}};
   }

 {{/methods}}
}
