{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "import",
  ],
  "extends": ["eslint:recommended"],
  "rules": {
    "no-explicit-any": "off",
    "no-unused-vars": "off",
  }
}