{{#relatedModels}}
import { {{.}} } from './{{.}}';
{{/relatedModels}}

export interface {{name}} {
{{#properties}}
  {{{.}}}
{{/properties}}
}

{{#relatedEnums}}
export enum {{name}} {
  {{#signatures}}
    {{{.}}},  
  {{/signatures}}
}
{{/relatedEnums}}